@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
}

:root {
   --theme-gray: #e2e8f0;
   --theme-blue: #1992d4;
   --theme-yellow: #efb52e;
   font-size: 120%;
   font-family: Roboto;
}

body {
   display: grid;
   height: 100vh;
   grid-template: minmax(8.5rem, 1fr) 4fr / minmax(15rem, 1fr) 4fr;
}

body>nav {
   background: var(--theme-blue);
   grid-row: 1 / -1;
   padding: 1rem;
   display: grid;
   grid-template-rows: repeat(3, 0fr);
   gap: 2.5rem;
}

body>nav img {
   height: 100%;
}

body>nav>nav {
   display: grid;
}

body>nav>header,
body>nav>nav>a {
   color: white;
   display: grid;
   grid-template-columns: 0fr 1fr;
   gap: 1rem;
}

body>nav>nav>a {
   padding: 0.5rem 0;
   text-decoration: none;
   font-weight: bold;
}

body>nav>nav>a:focus-visible {
   outline: 2px solid white;
   border-radius: 0.5rem;
}

body>nav>nav>a>img {
   padding: 0 0.5rem;
}

body>nav>nav>a:hover {
   text-decoration: underline;
}

body>header {
   grid-column: 2;
   display: grid;
   grid-template: 1fr 2fr / 5fr 3fr;
   gap: 1rem;
   padding: 1rem 2rem;
}

body>header>.search_bar {
   display: grid;
   grid-template-columns: 1.25rem 1fr;
   gap: 1rem;
   align-items: center;
}

body>header>.search_bar>label {
   display: grid;
}

body>header>.search_bar>input {
   border-radius: 1rem;
   border: none;
   background: var(--theme-gray);
   padding: 0 0.75rem;
   height: 1.5rem;
}

body>header>.search_bar>input:focus {
   outline: 2px solid gray;
}

body>header>.user_info {
   display: grid;
   align-items: center;
   justify-content: end;
   grid-template-columns: repeat(3, 0fr);
   gap: 1.25rem;
}

body>header>.user_info>button {
   display: grid;
   background: none;
   border: none;
}

body>header>.user_info>button:hover {
   cursor: pointer;
}

body>header>.user_info>.notifications {
   height: 1.75rem;
   aspect-ratio: 1 / 1;
   padding: 0.25rem;
}

/* body>header>.user_info>.notifications>img:hover {
   content: url("icons/header/notifications.svg");
} */

body>header>.user_info>.profile-picture {
   height: 2rem;
   aspect-ratio: 1 / 1;
   border-radius: 100%;
   background: var(--theme-yellow);
}

body>header>.user_info>.profile-name {
   font-size: 80%;
   padding: 0.25rem;
   white-space: nowrap;
   font-weight: bold;
}

body>main {
   background: var(--theme-gray);
   box-shadow: inset black 0 1rem 1rem -1.5rem;
   grid-area: 2 / 2;
}