@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   background: none;
   border: none;
   font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
   --theme-gray: #e2e8f0;
   --theme-blue: #1992d4;
   --theme-yellow: #efb52e;
   font-size: 120%;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: underline;
}

button:hover {
   cursor: pointer;
}

.profile-picture {
   aspect-ratio: 1 / 1;
   border-radius: 100%;
   background: var(--theme-yellow);
}

body {
   display: grid;
   grid-template: minmax(8.5rem, 1fr) 4fr / minmax(15rem, 1fr) 4fr;
}

body>nav {
   background: var(--theme-blue);
   grid-row: 1 / -1;
   padding: 1rem;
   display: grid;
   grid-template-rows: repeat(3, 0fr);
   gap: 2.5rem;
}

body>nav img {
   height: 100%;
}

body>nav>nav {
   display: grid;
}

body>nav>header,
body>nav>nav>a {
   color: white;
   display: grid;
   grid-template-columns: 0fr 1fr;
   gap: 1rem;
}

body>nav>nav>a {
   padding: 0.5rem 0;
   font-weight: bold;
}

body>nav>nav>a:focus-visible {
   outline: 2px solid white;
   border-radius: 0.5rem;
}

body>nav>nav>a>img {
   padding: 0 0.5rem;
}

body>header {
   display: grid;
   grid-template: 1fr 2fr / 5fr 3fr;
   gap: 1.5rem;
   padding: 1rem 2rem;
}

body>header>.search_bar {
   display: grid;
   grid-template-columns: 1.25rem 1fr;
   gap: 1rem;
   align-items: center;
}

body>header>.search_bar>label {
   display: grid;
}

body>header>.search_bar>input {
   border-radius: 1rem;
   border: none;
   background: var(--theme-gray);
   padding: 0 0.75rem;
   height: 1.5rem;
}

body>header>.search_bar>input:focus {
   outline: 2px solid gray;
}

body>header>.user_info {
   display: grid;
   align-items: center;
   justify-content: end;
   grid-template-columns: repeat(3, 0fr);
   gap: 1.25rem;
}

body>header>.user_info>button {
   display: grid;
}

body>header>.user_info>.notifications {
   height: 1.75rem;
   aspect-ratio: 1 / 1;
   padding: 0.25rem;
}

body>header>.user_info>.notifications:hover>img,
body>header>.user_info>.notifications:focus-visible>img {
   content: url("icons/header/notifications.svg");
}

body>header>.user_info>.profile-picture {
   height: 2rem;
}

body>header>.user_info>.profile-name {
   font-size: 0.9rem;
   padding: 0.25rem;
   white-space: nowrap;
   font-weight: bold;
}

body>header>.greeting {
   display: grid;
   grid-template-columns: 0fr 1fr;
   gap: 1rem;
}

body>header>.greeting>.message {
   display: grid;
   grid-template-rows: 0fr 0fr;
   align-content: center;
   gap: 0.5rem;
   font-weight: bold;
}

body>header>.greeting>.message>.welcome {
   font-size: 0.6rem;
}

body>header>.greeting>.message>.profile-name {
   font-size: 1.1rem;
}

body>header>.actions {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   align-items: center;
   justify-items: center;
}

body>header>.actions>button {
   background: var(--theme-blue);
   color: white;
   font-weight: bold;
   font-size: 0.8rem;
   border-radius: 2rem;
   width: 5rem;
   height: 2rem;
}

body>main {
   background: var(--theme-gray);
   box-shadow: inset black 0 1rem 1rem -1.5rem;
   display: grid;
}

body>main>.projects {
   display: grid;
}